[submodule "third_party/libuvc"]
	path = third_party/libuvc
	url = https://github.com/lw208231703-create/libuvc.git
	branch = master
[submodule "third_party/json"]
	path = third_party/json
	url = https://github.com/lw208231703-create/json.git
	branch = develop
[submodule "third_party/libusb"]
	path = third_party/libusb
	url = https://github.com/lw208231703-create/libusb.git
	branch = master
[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/lw208231703-create/spdlog.git
	branch = v1.x
[submodule "third_party/libwdi"]
	path = third_party/libwdi
	url = https://github.com/lw208231703-create/libwdi.git
	branch = master
[submodule "third_party/libusbK-3.1.0.0-bin"]
	path = third_party/libusbK-3.1.0.0-bin
	url = https://github.com/lw208231703-create/libusbK-3.1.0.0-bin.git
[submodule "third_party/libusb-win32-bin-1.4.0.2"]
	path = third_party/libusb-win32-bin-1.4.0.2
	url = https://github.com/lw208231703-create/libusb-win32-bin-1.4.0.2.git
